body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin-top: 30px;
}

table tr .red {
  color: red;
}

#checkbox {
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  width: 500px;
}

#label {
  margin-left: 10px;
}